* {
  margin: 10px;
}
a {
  text-decoration: none;
  color: black;
  padding: 15px;
  border: 1px solid black;
}
a:hover {
  background-color: black;
  color: white;
}

nav {
  margin-top: 25px;
  margin-bottom: 25px;
}

h1 {
  padding: 15px;
}
